<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.demo_hd.mapper.ResourcesMapper">

    <resultMap id="BaseResultMap" type="org.demo_hd.entity.Resources">
            <id property="resourceId" column="resource_id" />
            <result property="ownerId" column="owner_id" />
            <result property="name" column="name" />
            <result property="type" column="type" />
            <result property="permission" column="permission" />
            <result property="bucket" column="bucket" />
            <result property="objectKey" column="object_key" />
            <result property="fileSize" column="file_size" />
            <result property="uploadTime" column="upload_time" />
            <result property="difficulty" column="difficulty" />
    </resultMap>

    <sql id="Base_Column_List">
        resource_id,owner_id,name,type,permission,bucket,
        object_key,file_size,upload_time,difficulty
    </sql>
</mapper>
